six
numpy==1.23.5
scipy==1.8.1
matplotlib==3.5.2
opencv-python
psychopy==2023.1.0
pytest
scikit-image==0.20.0
h5py
pillow
configobj
PyDAQmx
tifffile
pywavelets==1.3.0 # for pyglet
pyglet==1.4.11
# numpydoc
# sphinx
